body{
    direction: rtl;
    text-align: right;
}
.owl-carousel, .splide, .navbar .top-links .site-tel, footer .get-touch .masaha-tel,
.contact-information .contact-info .contact-link.phone-num, .contact-links a:not(.btn){
    direction: ltr;
}
.contact-links a:not(.btn){
    display: block;
}
body{
    font-family: 'Cairo' , 'Montserrat', 'Spartan', 'Spartan MB' , 'Goldman' ,Arial,sans-serif;
    letter-spacing: 0.03rem;
}
.btn-outline-primary, .btn-outline-secondary,
.navbar-nav > .nav-item > .nav-link,
.navbar .top-links .site-email,
.mega-menu .product-item .spare-parts-dept,
.hero-wrapper .hero-title,
.service-item .service-title,
.btn-chat .need-help,
.btn-chat .chat-us,
.chat-wrapper .assistant-block .how-help,
.chat-wrapper .assistant-block .business-account,
.chat-wrapper .choose-department,
.maintenance-wrapper .maintenance-high-level .title,
.request-quotation .form-control,
.upload-file .btn,
.select-products .checkbox-container .product-item .btn-outline-primary,
.need-help-block .need-help,
.need-help-block .chat-us,
.contact-information .contact-info .contact-title,
.contact-links .btn-primary,
footer ul.footer-menu li a,
footer .get-touch .get-touch-text,
footer .get-touch .masaha-email,
footer .get-touch .masaha-working-hours,
footer .get-touch .masaha-address,
footer .privacy-policy,
footer .copy-rights,
footer .made-with,
.page-title,
.page-info .page-info-title,
.page-info .page-info-mail,
.media-title,
.event-item .event-details .event-date .month,
.event-item .event-details .event-date .day,
.event-item .event-details .event-date .year,
.event-item .event-details .event-info .event-title,
.event-item .event-details .event-info .event-category,
.gallery-item .gallery-date .month,
.gallery-item .gallery-date .day,
.gallery-item .gallery-date .year,
.gallery-item .gallery-info .gallery-title,
.videos-wrapper .video-item .video-published,
.videos-wrapper .video-item .video-title,
.leave-message,
.project-gallery-page .project-title,
.news-event-page .news-event-title,
.product-images-block .product-images-item .product-title,
.projects-block .project-item .project-info .project-text,
.why-masaha .why-text,
.why-masaha .why-question,
.post-single .post-title,
footer .your-gate-wrapper .your-gate, footer .your-gate-wrapper .authorized-dealer .authorized-dealer-text{
    letter-spacing: 0.07em;
}
.partners-wrapper .partners-title{
    letter-spacing: 0.55em;
}
.contact-block .contact-text{
    letter-spacing: 0.15em;
}
.btn-outline-primary.view-all{
    padding-left: .75rem;
    padding-right: 60px;
}
.btn-outline-primary.view-all:after{
    left: auto;
    right: 20px;
}
.navbar .top-links{
    right: auto;
    left: 0;
}
.navbar .top-links .site-email{
    text-align: left;
}
.location-menu-wrapper ul.language-menu li{
    margin-left: 0;
    margin-right: 40px;
}
.location-menu-wrapper ul.language-menu li:first-of-type{
    margin-left: 0;
    margin-right: 0;
}
.location-country .country-name{
    right: auto;
    left: 205px;
}
.vertical-tabs .nav-tabs .nav-link.active:before,
.vertical-tabs .nav-tabs .show>.nav-link:before {
    left: auto;
    right: 270px;
}
.categories-list .category-item:hover .category-icon{
    transform: translateX(-10px);
}
.categories-list .category-item .category-details .btn.read-more img{
    margin-left: 0;
    margin-right: 10px;
}
.mega-menu .product-item .spare-parts-dept{
    text-align: revert;
}
.rent-buy-categories .category-item{
    margin: 40px 0 40px 40px;
}
.mega-menu .rent-buy-categories .category-item{
    margin: 20px 0 20px 20px;
}
.mega-menu .rent-buy-categories .category-item:nth-of-type(4n + 4){
    margin-left: 0;
}
.search-wrapper .browse-products{
    padding-left: 0;
    padding-right: 33px;
}
.search-wrapper .close-search {
    margin: 0 130px 0 25px;
}
.search-wrapper.active .search-group .input-group .input-group-prepend{
    padding-left: 30px;
    padding-right: 0;
}
.search-group .input-group .form-control{
    padding-left: .75rem;
    padding-right: 35px;
    background: url("../images/search2.svg") 100% center no-repeat;
}
.products-slider.owl-carousel .owl-nav button.owl-next,
.products-slider.owl-carousel .owl-nav button.owl-prev,
.equipment-slider.owl-carousel .owl-nav button.owl-next,
.equipment-slider.owl-carousel .owl-nav button.owl-prev{
    right: auto;
    left: 0;
}
.products-slider.owl-carousel .owl-nav button.owl-next{
    right: auto;
    left: 78px;
}
.product-page .products-slider.owl-carousel .owl-nav button.owl-next{
    right: auto;
    left: 0;
}
.products-slider.owl-carousel .owl-nav button.owl-prev{
    right: auto;
    left: 136px;
}
.product-page .products-slider.owl-carousel .owl-nav button.owl-prev{
    right: auto;
    left: 58px;
}
.equipment-slider.owl-carousel .owl-nav button.owl-next{
    right: auto;
    left: 0;
}
.equipment-slider.owl-carousel .owl-nav button.owl-prev{
    right: auto;
    left: 56px;
}
.browse-categories{
    border-right: none;
    border-left: 1px solid #dfe5e6;
}
.service-item .service-icon{
    margin-right: 0;
    margin-left: 10px;
}
.need-category .category-img{
    right: auto;
    left: 0;
}
.need-category:nth-of-type(2) .category-img{
    right: auto;
    left: -20px;
}
.masaha-service{
    padding-left: 160px;
    padding-right: 30px;
}
.masaha-service .service-img{
    right: auto;
    left: -10px;
}
.btn-chat{
    left: auto;
    right: 6.51vw  /* 125/19.2 */;
}
.btn-chat .chat-icon{
    right: auto;
    left: 15px;
}
.btn-chat .need-help{
    left: auto;
    right: 15px;
}
.btn-chat .chat-us{
    left: auto;
    right: 15px;
}
.chat-wrapper{
    left: auto;
    right: 15px;
    padding: 175px 80px 45px 45px;
}
.chat-wrapper .close-chat{
    right: auto;
    left: 16px;
}
.chat-wrapper .assistant-block .assistant-img{
    margin-right: 0;
    margin-left: 6px;
}
.equipments-wrapper .equipments-title .ready-for{
    margin-left: 0;
    margin-right: 0.5em;
}
.equipments-wrapper .equipments-title .ready-for:before {
    right: auto;
    left: 0.5em;
}
.equipments-wrapper .equipments-title .ready-for:after {
    left: auto;
    right: 0.5em;
}
.equipments-wrapper .equipment-slider-wrapper .btn-outline-secondary{
    right: auto;
    left: 120px;
}
.categories-filter .categories-filter-search .input-group-text{
    border-right: 1px solid #edeeef;
    border-left: none;
    border-radius: 0 23px 23px  0 ;
}
.categories-filter .categories-filter-search .form-control{
    border-left: 1px solid #edeeef !important;
    border-right: none !important;
    border-radius: 23px 0 0  23px;
}
.checkboxes-group .checkbox-container {
    padding-left: 0;
    padding-right: 60px;
}
.checkboxes-group .checkbox-container .checkbox-all .checkmark,
.checkboxes-group .checkbox-container .checkbox-single .checkmark {
    left: auto;
    right: 0;
}
.checkboxes-group .checkbox-container .category-item .category-icon{
    margin-right: 0;
    margin-left: 15px;
}
.popular-equipment-header .popular-equipment-title {
    margin-right: 0;
    margin-left: 60px;
}
.popular-equipment-header .equipment-search .input-group-text{
    border-radius: 0 23px 23px  0;
}
.popular-equipment-header .equipment-search .form-control {
    border-left: 1px solid #edeeef !important;
    border-right: none !important;
    border-radius: 23px 0 0 23px;
}
.popular-equipment-item .btn-group-toggle .btn:first-of-type{
    border-radius: 27px 0 0 27px ;
    margin-right: 0;
    margin-left: -5%;
}
.popular-equipment-item .btn-group-toggle .btn:last-of-type{
    border-radius: 27px 0 0 27px;
    margin-left: 0;
    margin-right: -5%;
}
.location-wrapper > img{
    left: auto;
    right: 35%;
}
.maintenance-wrapper .maintenance-hl-block > img{
    margin-right: 0;
    margin-left: 50px;
}
.maintenance-wrapper .maintenance-high-level img{
    margin-right: 0;
    margin-left: 20px;
}
.partners-wrapper .partners-title img{
    margin-right: 0;
    margin-left: 20px;
}
.product-page:before{
    right: auto;
    left: 0;
    border-radius: 0 0 75px 0;
}
.product-page.contact-page:before{
    right: 0;
    left: auto;
    border-radius: 0 0 0 75px;
}
.product-page .col-lg-5{
    padding-left: 15px;
    padding-right: 40px;
}
.product-page .product-category{
    left: auto;
    right: -50px;
 }
.product-page .btn-stock:before{
    left: auto;
    right: 15px;
}
.product-page .btn-stock:hover:after{
    left: auto;
    right: 0;
}
.product-page ul.product-features li{
    margin: 0 0 40px 60px;
}
.product-page ul.product-features li:last-of-type{
    margin-right: 0 ;
    margin-left: 0 ;
}
.upload-file .btn img{
    margin-right: 0;
    margin-left: 10px;
}
.upload-file input[type=file] {
    left: auto;
    right: 0;
}
.selected-product{
    border-right: 1px solid #e4e9eb;
    border-left: 0;
}
.selected-product .product-img{
    padding-left: 0;
    padding-right: 15px;
}

.selected-product .product-details .product-category{
    margin-right: 0;
    margin-left: 20px;
}
.select-products .checkbox-container .checkmark:after {
    border-width: 5px 0 0 5px;
}

.select-products .checkbox-container .product-item{
    padding: 0 0 0 100px;
}
.select-products .checkbox-container .product-item:after{
    right: auto;
    left: 0;
}
.select-products .checkbox-container .product-item .product-img{
     margin-right: 0;
     margin-left: 30px;
}
.select-products .checkbox-container .product-item ul.product-features{
    margin-left: 0;
    margin-right: 100px;
}
.select-products .checkbox-container .product-item ul.product-features li{
    margin: 0  0 20px;
}
.select-products .checkbox-container .product-item .btn-outline-primary {
    padding-left: .75rem;
    padding-right: 30px;
}
.select-products .checkbox-container .product-item .btn-outline-primary:after {
    left: auto;
    right: 10px;
}
.select-products .checkbox-container .product-item .btn-outline-primary:hover:after {
    left: auto;
    right: 0;
}
.need-help-block img{
    right: auto;
    left: -30px;
    transform: rotateY(180deg);
}
#back-to-top {
    right: auto;
    left: 2.604vw  /* 50/19.2 */;
}
.quick-support:before{
    content: 'اتصل بنا';
}
footer .privacy-policy{
    text-align: right;
}
footer .copy-rights{
    text-align: right;
}
ul.page-list li{
    padding-left: 0;
    padding-right: 1.198vw  /* 23/19.2 */;
}
ul.page-list li:before{
    left: auto;
    right: 0;
}
.page-info > img{
    left: auto;
    right: 0;
}
.page-info.text-right > img{
    left: 0;
    right: auto;
}
.event-item .event-img{
    margin-right: 0;
    margin-left: 12px;
}
.featured-block .event-item .event-img{
    margin-right: 0;
    margin-left: 0;
}
.event-item .event-details .event-date{
    margin-left: 26px;
    margin-right: -38px;
}
.featured-block .event-item .event-details .event-date{
    margin-left: 10px;
    margin-right: -14px;
}
.event-item .event-details .event-info {
    padding-left: 0;
    padding-right: 20px;
}
.featured-block .event-item .event-details .event-info {
    padding-left: 0;
    padding-right: 10px;
}
.event-item .event-details .event-info:before {
    left: auto;
    right: 0;
}
.event-item .event-details .event-info .read-more img{
    margin-left: 0;
    margin-right: 7px;
}
.videos-wrapper .video-item .video-published{
    text-align: left;
}
.news-event-page .socials .fa-share-alt {
    margin-left: 0;
    margin-right: 30px;
}
.featured-block{
    border-left: none;
    border-right: 1px  solid #BAC2C4;
    padding-left: 0;
    padding-right: 20px;
}
.about-block > img{
    right: auto;
    left: -18.4375vw  /* -354/19.2 */;
}
.about-block:nth-of-type(2) > img{
    right: -19.01vw  /* -365/19.2 */;
    left: auto;
}
.about-block .about-title:before{
    left: auto;
    right: -5.46875vw  /* -105/19.2 */;
}
.about-block .about-our-mission{
    padding-left: 0;
    padding-right: 2vw;
}
.about-block .about-our-vision{
    padding-left: 0;
    padding-right: 9vw;
}
.about-block .about-our-goal{
    padding-left: 0;
    padding-right: 14vw;
}
.about-block .about-our-values{
    padding-left: 0;
    padding-right: 8vw;
}
.why-masaha img{
    margin-left: -70px;
    margin-right: 30px;
}
.fa-search, .fa-caret-right, .fa-caret-left{
    transform: rotateY(180deg);
}
.pagination .page-item .page-link img{
    transform: rotateY(180deg);
}
.product-page .product-category {
    left: auto;
    right: -50px;
}
.collapse-category:after {
    right: auto;
    left: -16px;
}
.checkboxes-group .checkbox-container .checkbox-single {
    padding-left: 0;
    padding-right: 30px;
}
footer .your-gate-wrapper .your-gate{
    margin-right: 0;
    margin-left: 42px;
}
footer .your-gate-wrapper .your-gate:after{
    right: auto;
    left: -28px;
}
footer .your-gate-wrapper .authorized-dealer .authorized-dealer-images img{
    margin-right: 0;
    margin-left: 14px;
}
.intl-tel-input{
    direction: ltr;
}
@media screen and (max-width: 1599px) {
    .btn-chat {
        left: auto;
        right: 60px;
    }
    .products-slider.owl-carousel .owl-nav button.owl-next {
        right: auto;
        left: 10px;
    }
    .products-slider.owl-carousel .owl-nav button.owl-prev {
        right: auto;
        left: 55px;
    }
    .search-wrapper .btn-outline-secondary {
        right: auto;
        left: 110px;
    }
    .masaha-service {
        padding-left: 140px;
        padding-right: 20px;
    }
    .upload-file .btn img {
        margin-right: 0;
        margin-left: 5px;
    }
    .categories-list .category-item .category-icon {
        margin-right: 0;
        margin-left: 10px;
    }
}
@media screen and (max-width: 1199px) {
    .btn-chat {
        left: auto;
        right: 15px;
    }
    .checkboxes-group .checkbox-container {
        padding-left: 0;
        padding-right: 45px;
    }
    .location-wrapper > img {
        left: auto;
        right: 40%;
    }
    .rent-buy-categories .category-item {
        margin: 20px 0 20px 20px;
    }
    .select-products .checkbox-container .product-item ul.product-features {
        margin-left: 0;
        margin-right: 30px;
    }
    .select-products .checkbox-container .checkmark {
        right: auto;
        left: 13px;
    }
    .product-page ul.product-features li {
        margin: 0 0 30px 40px;
    }
    .collapse-category:after{
        right: auto;
        left: 0;
    }
}
@media screen and (max-width: 991px) {
    .rent-buy-tabs .nav-tabs .nav-link:last-of-type {
        margin-left: 0;
        margin-right: -10%;
        padding-left: 0;
        padding-right: calc(10% + 60px);
    }
    ul.page-list li {
        padding-left: 0;
        padding-right: 20px;
    }
    .about-block .about-our-mission,
    .about-block .about-our-vision,
    .about-block .about-our-goal,
    .about-block .about-our-values{
        padding-left: 0;
        padding-right: 30px;
    }
    .about-block .about-title:before {
        left: auto;
        right: -30px;
    }
    .selected-product .remove-product{
        right: auto;
        left: 0;
    }
}
@media screen and (max-width: 767px) {
    .navbar .top-links {
        right: auto;
        left: 0;
    }
    .side-wrapper {
        left: auto;
        right: -280px;
    }
    .side-wrapper.active {
        left: auto;
        right: 0;
    }
    .location-menu-wrapper .navbar-nav{
        right: auto;
        left: 0;
    }
    .why-masaha img {
        margin-left: -30px;
        margin-right: 10px;
    }
    .search-group .input-group {
        padding-left: 0;
        padding-right: 15px;
    }
    .navbar .top-links .nav-link img{
        transform: rotateY(180deg);
    }
}
@media screen and (max-width: 575px) {
    .navbar .top-links {
        padding-left: 0;
        padding-right: 80px;
    }
    .top-links li:first-of-type{
        right: auto;
        left: 0;
    }
}